[2013-06-19 00:18] tarsius opened #16 "this is only a mirror"
Thanks for improving this package.

This is only a mirror and I cannot merge any pull requests.  Since I know next to nothing about most of the mirrored packages I cannot in good faith decide whether a patch is good or not.  Also merging such requests could result in merge conflicts once upstream makes changes. The tools I use to mirror packages are not capable of assisting me to do so and even if

[2013-10-26 16:45] tarsius opened #26 "Restore ability to import Emacwiki packages"
Then inform people at https://github.com/dimitri/el-get/pull/1370.

[2014-02-08 16:06] tarsius opened #31 "Drop support for version control systems that aren't used much anymore"

[2014-02-09 01:26] tarsius opened #34 "Mirror from GNU Elpa or old upstream?"
Some packages that are now part of GNU Elpa are also still available from the old upstream. Figure out whether the old repositories are still used for new development, and if not mirror from GNU Elpa instead.

* [x] f90-face f90-interface-browser https://github.com/wence-/f90-iface/issues/1
* [x] ioccur https://github.com/thierryvolpiatto/ioccur/issues/2
* [x] sokoban https://github.com/leoliu/sok

[2014-02-09 02:03] tarsius opened #35 "Find a new maintainer for nXhtml"
This package is not currently being updated. If I remember this is due to technical issues with the import from bzr. But I think it also bundles some third-party libraries and has some other issues.

When I contacted Lennart Borgman <lennart.borgman@gmail.com> this was his response.

So if you would like to maintain this, please contact him.

[2014-02-09 02:05] tarsius opened #36 "-"
-

[2014-02-09 02:06] tarsius opened #37 "-"
-

[2014-02-09 02:19] tarsius opened #38 "Packages that had to be patched"
These are packages that I had to patch because upstream did not respond.

### Patched in the Emacsorphanage

See #66.

### Explicitly dropped features

These packages bundle third-party libraries. These libraries are ignored using the `-drop-provided` slot.

from github

* [x] apel
* [x] bbdb-vcard
* [x] ess
* [x] flim
* [x] gimp-mode
* [x] go
* [x] semi
* [x] twittering-mode
* [x] wanderlust

fro

[2014-02-09 17:49] tarsius opened #39 "Packages that are obsolete/unmaintained according to upstream"
This list isn't complete.

[code]

* smart-operator https://github.com/xwl/smart-operator/issues/3#issuecomment-49823263
* various packages https://github.com/emacsmirror/p/issues/44

[2014-09-04 11:57] tarsius opened #43 "add vcard to orphanage"
I added vcard to the orphanage quite some time ago after I had contacted to maintainers of the various packages that bundle diverging implementations of `vcard.el`. I hopped that after I had done that step, once of them would step up and do the next step. Unfortunately that didn't work out and so I'll probably have to do it myself at one point.

@purcell Of the various packages that bundle `vcard.

[2015-01-01 00:10] eschulte commented on #34
I'm no longer maintaining shen-mode (I'm not even sure how actively shen
is used these days).  I'd go with the GNU ELPA version as if I am
pressed to provide any support I probably push it to that repo.

--
Eric Schulte
PGP: 0x614CA05D

[2015-01-03 18:49] tarsius opened #45 "Packages awaiting upstream response/action"
* [x] https://github.com/nicferrier/eshell-manual/pull/2 (no response, forked to https://github.com/emacsorphanage/eshell-manual)
* [x] https://github.com/nicferrier/emacs-git-draft/pull/1 (no response, I won't mirror)
* [x] https://github.com/vapniks/simple-call-tree-ext/issues/3 (removed both simple-call-tree and simple-call-tree+, if/when the maintainer renames the latter to the former, then I

[2015-01-06 14:35] Fanael opened #46 "rainbow-delimiters moved"
New home: https://github.com/Fanael/rainbow-delimiters

[2015-01-08 16:00] tarsius commented on #46
Thanks! I'm mirroring that now.

[2015-01-08 16:00] #46 closed

[2015-01-09 00:40] tarsius commented on #31
Can't really drop svn support yet.

[2015-01-09 00:40] #31 closed

[2015-01-09 00:41] #16 closed

[2015-01-17 08:09] tarsius opened #47 "outline-magic is obsolete"
Except for one, all commands defined in `outline-magic.el` shadow more recent implementations in `outline.el`. The only command missing is `outline-cycle`, but that is not necessary because `org-cycle` can be used outside of `org-mode` buffers.

This doesn't just work because we got lucky. A comment in front of `org-overview` sais that `org-cycle-internal-global` is supposed to work in non-org buf

[2015-01-17 09:19] wasamasa opened #48 "show-point-mode v0.3 is out"
See [the discussion](https://github.com/Bruce-Connor/smart-mode-line/issues/112) and [the release](http://www.dr-qubit.org/emacs-misc/show-point-mode-0.3.el). And thanks for the work!

[2015-01-17 18:25] tarsius commented on #48
Thanks. I am getting the file from http://www.dr-qubit.org/emacs-misc/show-point-mode.el now instead of from the wiki. I have also deleted the old version from the wiki and adjusted http://www.emacswiki.org/emacs/ShowPointMode.

[2015-01-17 18:25] #48 closed

[2015-01-18 12:16] tarsius commented on #26
Done.

[2015-01-18 12:16] #26 closed

[2015-01-21 21:59] bsvingen opened #49 "sql-indent"
Is there an upstream for [sql-indent](https://github.com/emacsmirror/sql-indent)?

[2015-02-03 23:35] brontitall opened #50 "http://emacsmirror.org splash page is disabled"
The splash page at [http://emacsmirror.org](http://emacsmirror.org) is disabled by GitHub. Displays the following message:

... but instead, the DNS looks like this:

    ;; ANSWER SECTION:
    emacsmirror.org.	6943	IN	A	204.232.175.78

[2015-03-16 18:39] tarsius commented on #49
Like for most other packages on the Emacsmirror there is a link to upstream at the top of the respective Github page. Unfortunately in this case upstream publishes on the Emacswiki. You might want to contact Matt Henry <mcthenry+gnu@gmail.com> and ask him to move to Github or something similar.

[2015-03-16 18:40] tarsius commented on #50
Yeah ... I figured I would not update until I have a little more to show. But right now I am busy getting Magit 2.1.0 ready.

[2015-03-16 19:35] tarsius opened #51 "help-key's upstream repository has disappeared"
`help-key`s repository used to be located at https://github.com/m2ym/help-key-el. It no longer is.

@m2ym What happened to it? Is it obsolete? Or was it moved elsewhere?

[2015-03-16 20:04] tarsius opened #52 "Moving epm to github"
Google Code is shutting down, see http://google-opensource.blogspot.ch/2015/03/farewell-to-google-code.html.

@dpom Could you please consider moving epm from https://code.google.com/p/epm-mode to Github. On that page there is a button which allows you to easily do so.

[2015-03-16 20:08] tarsius opened #53 "Moving emacs-easy-budget and eredis to github"
Google Code is shutting down, see http://google-opensource.blogspot.ch/2015/03/farewell-to-google-code.html.

@justinhj Could you please consider moving emacs-easy-budget and eredis from to Github. There are buttons on https://code.google.com/p/emacs-easy-budget and https://code.google.com/p/eredis which allows you to easily do so.

[2015-03-16 20:22] tarsius opened #54 "Moving jdibug to github"
Contacted upstream by mail.

[2015-03-16 20:25] justinhj commented on #53
Will do at some point. I have tried twice and in the first attempt it failed after about 12 hours. In the second attempt the service was too busy to even begin the process.

[2015-03-16 20:29] tarsius opened #55 "Moving eap to github"
@sebyte Could you please consider moving eap to Github.

I am currently still importing packages from svn repositories. But once upon a time I decided to only do so until emacspeak stops doing so - and that has recently been migrated to Github. There are currently only a dozen Emacs packages whose upstreams still use svn. Not having to support svn would make it easier for me to maintain the Emacsm

[2015-03-16 20:33] tarsius commented on #53
No hurry. And thanks.

[2015-03-16 20:43] tarsius opened #56 "Dropping svn support"
Once upon a time I decided to only do so until emacspeak stops doing so - and that has recently been migrated to Github. There are currently only a dozen Emacs packages whose upstreams still use svn. Not having to support svn would make it easier for me to maintain the Emacsmirror.

### using google code

* [x] #52 epm-mode (removed)
* [x] #53 emacs-easy-budget and eredis (removed)
* [x] #54 jdibu

[2015-03-16 21:31] tarsius opened #57 "Moving packages away from Google Code"
Google Code is shutting down, see http://google-opensource.blogspot.ch/2015/03/farewell-to-google-code.html.

### svn

* [x] #52 epm-mode (removed)
* [x] #53 emacs-easy-budget and eredis (removed)
* [x] #54 jdibug

### hg

Contacted the authors by mail.

* [x] furl (frozen)
* [x] nav
* [x] soap-client

[2015-03-16 22:00] tarsius opened #58 "Moving packages away from Gitorious"
Sadly Gitorious is shutting down, see https://about.gitlab.com/2015/03/03/gitlab-acquires-gitorious.

The following packages still have to be migrated elsewhere:

* [x] delicious (frozen)
* [x] evil (but see #60)
* [x] latex-math-preview (frozen)
* [x] notmuch-unread (frozen)
* [x] pov-mode (frozen)
* [x] symbols-mode
* [x] tempbuf (frozen)

[2015-03-16 23:53] brontitall commented on #50
Fair enough. I’d certainly favour a new version of Magit :)

On 17 March 2015 at 05:40, Jonas Bernoulli <notifications@github.com> wrote:

[2015-03-17 13:13] m2ym commented on #51
I've deleted the repository because I felt nobody used it.

[2015-03-26 13:50] tarsius commented on #50
Okay fixed it. Wasn't much work, I just really really hate the network "solutions" webpage. There are always two ways to do perform a given task there. Click on "Pay only $XX to do XY" or search the documentation and then click through ten pages.

[2015-03-26 13:50] #50 closed

[2015-04-22 20:27] bsvingen commented on #49
In agreement with Matt I am moving this to GitHub.

Could you please update the upstream link to point to [bsvingen/sql-indent](https://github.com/bsvingen/sql-indent)? (Or, better yet, just fork that repo?)

Thank you.

[2015-05-05 00:47] tarsius commented on #49
Thanks. I am mirroring that now.

[2015-05-05 00:47] #49 closed

[2015-05-05 00:50] tarsius commented on #51
Okay, thanks for the information. I have removed this from the mirror.

[2015-05-05 00:50] #51 closed

[2015-05-05 00:53] tarsius commented on #53
Maybe you could give this another try now?

[2015-05-05 01:06] bsvingen commented on #49
Thank you.

(Seems to be "ident", though, not "indent"?)

[2015-08-04 13:56] tarsius opened #60 "git-remote-hg import failures"
[code]

Packages that cannot be imported:
* [x] evil https://github.com/felipec/git-remote-hg/issues/47

Packages that cannot be updates:

[2015-08-04 14:13] tarsius commented on #58
Please consider migrating your package to github, gitlab, or bitbucket, or to self-host it.

* @johnsu01 delicious
* @ytaka latex-math-preview
* @davexunit notmuch-unread
* @melmothx pov-mode
* @rev22 tempbuf

[2015-08-04 14:25] #54 closed

[2015-08-04 14:25] tarsius commented on #54
done

[2015-08-04 14:40] tarsius commented on #55
Ping

[2015-08-04 15:05] #56 closed

[2015-08-04 15:09] tarsius commented on #55
(Note to self: package was frozen.)

[2015-08-04 15:09] #55 closed

[2015-08-04 15:09] tarsius commented on #53
(Note to self: packages were removed because symbols are not properly prefixed.)

[2015-08-04 15:09] #53 closed

[2015-08-04 15:11] tarsius commented on #52
(Note to self: package was removed because it was one of the last using svn and it probably doesn't have many users.)

[2015-08-04 15:11] #52 closed

[2015-08-04 15:27] tarsius commented on #57
@nex3 Please consider moving your package to github. All you have to do is to go to https://code.google.com/p/furl-el/ and click on "Export to GitHub". But please also let me know once you have done that.

[2015-08-04 15:27] #57 closed

[2015-08-04 15:55] tarsius opened #61 "Dropping bzr support"
Bazzar is effectively dead and as far as I know nobody uses it for new packages. There are only very few packages remaining that are still in bzr repositories and most of them seem to be stale.

### on launchpad

* [x] mediawiki
* [x] menu-tree (removed)
* [x] nxhtml
* [x] pgrok
* [x] python-mode
* [x] records (frozen)
* [x] text-translator (removed)
* [x] thing-at-point-utils (removed)
* [x] vm (

[2015-08-04 16:06] tarsius commented on #61
@hexmode You have already migrated mediawiki and xml-rpc. But not weblogger. Is the latter obsolete?

[2015-08-04 16:16] tarsius commented on #61
Please consider moving your package to Github.

* @iRi-E menu-tree
* @juri pgrok
* @khiker text-translator
* @warsaw winring
* @andreas-roehler python-mode and thing-at-point-utils

[2015-08-04 16:33] warsaw commented on #61
I'll be moving winring to git soon and @andreas-roehler and I have been talking about moving python-mode.el to git also.  Note that Launchpad supports git now, although I've moved most of my stuff to GitLab.  Launchpad is free software (AGPL), and GitLab has an open source edition (MIT) so I prefer it over GitHub for my own stuff.

[2015-08-04 16:35] warsaw commented on #61
One other comment, and a question: I have no problem with GitHub mirrors of my projects.  After I convert winring to git, where ever I host it, is there anything you need me to do?

[2015-08-04 16:50] tarsius commented on #61
Just let me know where you moved the packages to. Thanks!

[2015-08-04 18:17] warsaw commented on #61
https://gitlab.com/warsaw/winring

Thanks!

[2015-08-04 21:38] tarsius commented on #61
I get a 404 with that.

[2015-08-04 21:47] warsaw commented on #61
Oh darn.  I think GitLab now creates private projects by default.  I've flipped it to public; please try again!

[2015-08-05 01:24] hexmode commented on #61
I haven't updated weblogger in a while, but I do want to use it every once in a while.  If I get a tuit, I'll move it to git when I work on it.

[2015-08-05 07:26] juri commented on #61
Yeah, pgrok is as stale as they come. I migrated it anyway, and it's now at https://github.com/juri/pgrok.

[2015-08-05 12:21] tarsius commented on #61
Thanks!

[2015-08-05 17:17] andreas-roehler commented on #61
Hi Jonas,

thing-at-point-utils is delivered by

https://github.com/andreas-roehler/werkstatt.git

Is this okay?

Thanks,

Andreas

Am 04.08.2015 um 18:16 schrieb Jonas Bernoulli:

[2015-08-05 17:54] tarsius commented on #61
@andreas-roehler it looks a bit messy, and the name "werkstatt" implies that this is a sort of "all of my elisp in one place" repository. It would probably be better to split this up into several repositories, or are all libraries related to the thing-at-point?

I'll mirror this as-is, provided all libraries originate in this repository. You are not bundling any third-party libraries, are you?

[2015-08-06 06:26] andreas-roehler commented on #61
Am 05.08.2015 um 19:54 schrieb Jonas Bernoulli:

Right. Will look how  to split it into appropriate repos.

[2015-08-08 07:57] andreas-roehler commented on #61
Am 05.08.2015 um 19:54 schrieb Jonas Bernoulli:

Reordering the repo. Will signal when ready,

thanks,

Andreas

[2015-08-10 06:15] andreas-roehler commented on #61
Am 05.08.2015 um 19:54 schrieb Jonas Bernoulli:

Reorganized the repo into

- subroutines

- thing-at-point-utils

- sh-werk

- general-key

and

- misc

Beside "misc" directories are accessible as single repos from

https://github.com/andreas-roehler?tab=repositories

[2015-08-10 12:11] tarsius commented on #61
Thanks. Will do something about this as soon as my flatmate pays the cable bill...

[2015-08-14 11:25] tarsius commented on #61
@andreas-roehler Thanks for your efforts. But I have decided to not mirror these packages for the time being - there are still to many symbols that lack a proper prefix.

Should I mirror pythong-mode from https://gitlab.com/python-mode-devs/python-mode now?

[2015-08-14 12:53] #61 closed

[2015-08-14 12:54] tarsius commented on #58
@johnsu01 @ytaka @davexunit @melmothx @rev22 ping

[2015-08-14 12:59] tarsius commented on #58
I have *frozen* these packages, i.e. I no longer attempt to update them, which wouldn't work anyway since gitorious is no more. Once a maintainer informs me where he has move his package, then I will start mirroring from there.

[2015-08-14 12:59] #58 closed

[2015-08-14 13:09] melmothx commented on #58
Jonas Bernoulli <notifications@github.com> writes:

Here we go:

git@github.com:melmothx/pov-mode.git

--
Marco

[2015-08-14 13:13] davexunit commented on #58
I need some time to relocate my repo.  It's one of the repos I forgot to move when Gitorious shut down.

[2015-08-14 13:22] tarsius commented on #58
@melmothx Thanks, mirroring that now.
@davexunit No hurry, just let me know when it's done.

[2015-08-14 13:24] tarsius commented on #47
I have frozen the package now.

[2015-08-14 13:24] #47 closed

[2015-08-14 13:26] tarsius commented on #43
I have added the package to the orphanage a long time ago, so I am closing this now. I am not interested in merging the various forks myself, because I don't use this myself. I still hope someone does that at some point.

[2015-08-14 13:26] #43 closed

[2015-08-14 13:27] tarsius commented on #35
Lennard has move this to github and I am mirroring it again.

[2015-08-14 13:27] #35 closed

[2015-08-14 15:20] #45 closed

[2015-08-14 21:09] nex3 commented on #57
@tarsius I did it a while ago: https://github.com/nex3/furl-el

[2015-08-15 11:10] tarsius commented on #57
Thanks @nex3, I am mirroring that now.

[2015-08-16 06:23] andreas-roehler commented on #61
Am 14.08.2015 um 13:26 schrieb Jonas Bernoulli:

Okay, will look for that.

IMO yes, thanks.

[2015-11-04 15:02] tarsius opened #62 "Packages lacking a proper summary"
on melpa

* [ ] projmake-mode https://github.com/ericbmerritt/projmake-mode/pull/13
* [ ] voca-builder https://github.com/yitang/voca-builder/pull/5
* [ ] rcirc-notify https://github.com/wfarr/rcirc-notify-el/pull/2 ("???" is not a sufficient summary)

There also was a package which is not available from Melpa. I have removed that from the Emacsmirror too now. It's not worth waiting.

[2015-11-20 18:28] Wilfred opened #63 "Adding oo-browser to emacsattic"
Hi @tarsius

I'd like to add http://sourceforge.net/projects/oo-browser/ to the emacsattic. It's a cute project that hasn't been updated since 2002.

What do I need in order to make this happen? As far as I can see it's just a zip available on sourceforge.

[2015-11-30 20:13] tarsius commented on #63
Do you have some interest in reviving it? If so, then I would rather add it to the orphanage.

https://github.com/emacsorphanage

[2015-11-30 20:35] tarsius opened #64 "-"
-

[2015-11-30 20:53] tarsius opened #65 "Melpa packages missing from the Emacsmirror"
The Emacsmirror mirrors repositories while Melpa is a package archive. Sometimes a repository contains more than one package. Usually there is a "main package" and then some axillary packages. The Emacsmirror mirrors such repositories under the name of that primary package, but that doesn't mean that the secondary packages are not mirrored.

### Packages that have a different name on Melpa

* [x]

[2015-11-30 21:40] Wilfred commented on #63
I may patch it so it works on modern Emacsen, but I'm not interested in maintaining it.

[2015-12-01 18:40] tarsius opened #66 "Packages in the Emacsorphanage"
These are the packages in the [Emacsorphanage](https://github.com/emacsorphanage). Some of these packages have been patched.

Of all the packages in the orphanage currently only `vcard` is not mirrored. Except where noted otherwise (*) these packages are also available from Melpa.

See #38 for packages that should probably be moved to the orphanage.

### Upstream has disappeared

Most of these pac

[2015-12-01 19:28] tarsius opened #67 "Packages which Emacsmirror imports from file and Melpa imports from Emacsmirror"
* [x] diminish
* [ ] edit-list
* [ ] escreen
* [ ] fm
* [ ] fold-dwim
* [ ] hl-sexp @hober
* [ ] ldap-mode @loveshack
* [ ] mpg123
* [ ] mwe-log-commands
* [ ] osx-plist @hober
* [ ] psvn
* [ ] quack
* [ ] revive
* [ ] vkill
* [ ] x-dict
* [ ] xterm-frobs
* [ ] xterm-title

To those maintainers who have an account on Github: please consider making each of your packages available as a separate repo

[2015-12-02 13:19] tarsius opened #68 "Packages that are maintained within some bigger project"
These packages are not being mirrored.

These packages are part of some bigger repository which contains much more than just Emacs lisp libraries. Some repositories like this are already being mirrored, but no new ones are being added.

From github

* [ ] cfengine-code-style --
* [ ] cmake-mode --
* [ ] company-go --
* [ ] cython-mode --
* [ ] diffscuss-mode --
* [ ] egison-mode --
* [ ] go-autoco

[2015-12-02 13:25] tarsius commented on #63
I've created the repository and given you access. Please import and maybe do the patching. Please use the actual author as the GIT_AUTHOR_NAME, GIT_AUTHOR_EMAIL, and use an GIT_AUTHOR_DATE which matches the date when the release tarball was created.

[2015-12-02 13:25] #63 closed

[2015-12-02 16:35] tarsius commented on #63
I just noticed that `oo-browser` already is available from the Emacsmirror itself.

[2015-12-02 17:03] tarsius commented on #63
I'll leave it at that. If you do modernize it, then please open a pr. I will then merge that, move it to the orphanage, and then mirror that repository again.

[2015-12-02 22:10] #39 closed

[2015-12-03 12:52] tarsius commented on #60
Updating to a more recent version of `git-remote-hg` solved the issue. The problem was that the `evil` repository contains invalid bookmarks.

[2015-12-03 12:52] #60 closed

[2015-12-04 10:24] loveshack commented on #67
Jonas Bernoulli <notifications@github.com> writes:

I don't know what Emacsmirror is, but anyway I'm not going to change my
revision control, especially in response to a request out of the blue.

[2015-12-12 18:58] #36 closed

[2015-12-13 14:20] tarsius commented on #34
Thanks @eschulte.

[2015-12-13 14:20] #34 closed

[2015-12-13 14:21] tarsius commented on #38
I maintain this list using Org Babel now and won't update this issue any longer.

[2015-12-13 14:21] #38 closed

[2015-12-13 21:46] #37 closed

[2015-12-13 22:23] #64 closed

[2015-12-14 11:45] tarsius opened #69 "Mirror from GNU Elpa or Github"
For many packages available from Elpa there also exist a repository on Github. If the Github repository is actively maintained, then I prefer to mirror that. From the maintainers of the following repositories I would like to know:

--

1. Should your package be mirrored from Github? Why (not)?
2. Where does development happen primarily?
3. How are the repositories synced?
4. How often do you sync?

[2015-12-14 14:08] rocky commented on #69
1. Yes
2. Github
3. manually
4. rarely
5. Generally not, but it could

[2015-12-14 14:26] michael-heerdegen commented on #69
Hello Jonas,

That's me.

That's the homepage.  I guess it's more or less the same, since the two
places (Gnu Elpa and Github) will be in sync 99% of the time.

There is not much development currently, the thing has arrived it's
final state.  Further development will happen at github.

In Gnu Elpa, it's a subtree that I manually sync from the github server.

I didn't need to until now.  I plan to

[2015-12-14 14:47] bgamari commented on #69
1. Yes
2. Github
3. Manually
4. No need to thusfar
5. Generally not.

[2015-12-14 14:51] rocky commented on #69
@tarsius this is going to be annoying getting replies from all package owners. If you want a response from me in the future, don't communicate via an issue with several parties.

I do not nor ever have derived benefit from this mirror. If you want to remove my packages from this mirror please do so if it will mean I don't have to be bothered with stuff like this in the future. Thanks.

[2015-12-14 14:53] tarsius commented on #69
@rocky Okay. I'll try to remember that in the future.

You might want to click on the **Unsubscribe** button in the rightmost column.

[2015-12-14 15:14] xwl commented on #69
1. Yes
2. Github
3. Manually
4. Rarely
5. Generally not.

[2015-12-14 17:59] tarsius commented on #69
Thanks for the quick replies!

[2015-12-15 15:10] myrjola commented on #67
@tarsius I have taken over maintainership of diminish after a private mail conversation with the original author Will Mengarini. The official repository is now https://github.com/myrjola/diminish.el. I will soon open a pull request to MELPA to target that repository instead of Emacsmirror. Thank you for mirroring diminish.el all these years!

[2015-12-15 17:58] vspinu commented on #69
HI @tarsius. Same as with others:

   1. Yes
   1. Github
   1. Manually
   1. Rarely
   1. Generally not.

[2015-12-15 19:54] tarsius commented on #69
Thanks @vspinu.

[2015-12-15 19:56] tarsius commented on #69
That leaves `minimap`. Upon closer inspection it turns out these are actually two different implementations. When there is a name conflict between a built-in/elpa package and a third-party package, then I always go with the official one.

[2015-12-15 19:56] #69 closed

[2015-12-15 20:05] tarsius commented on #67
@myrjola Thanks a lot!

[2015-12-15 20:07] tarsius commented on #67
@myrjola I'm always looking for people who would like to breath life back into an old package which is still used by many. Let me know if you need any new projects :-)

[2015-12-17 15:36] tarsius commented on #67
@loveshack That's fine.

It sounds like you are using some version control system. Is there a public repository somewhere? If so then Melpa could build the packages from that instead of getting them from the Emacsmirror.

Melpa can create packages for libraries that are made available by the respective upstream using either a git, hg, darcs, bzr, cvs, svn, or fossil repository or by putting it on

[2015-12-28 13:50] tarsius commented on #62
I have added these packages to the list of packages which cannot be imported. Should the upstreams add proper summaries then I will of course add them to the mirror, but I am no longer holding my breath.

[2015-12-28 13:50] #62 closed

[2015-12-28 14:59] 10sr opened #70 "Two of my repositories are deprecated"
As I wrote in `README`s, these repositories are now deprecated.
I've already updated MELPA upstreams too, so there should be no reason to continue to mirror them :smiley_cat:

* https://github.com/10sr/editorconfig-core-emacslisp
* https://github.com/10sr/editorconfig-fnmatch-el

[2016-02-09 16:27] #70 closed

[2016-02-12 14:41] matthewpersico opened #71 "emacsmirror/perltidy out of date"
Latest version (0.05) is here: https://www.emacswiki.org/emacs/perltidy.el

[2016-02-20 16:06] tarsius commented on #71
I haven't been mirroring from the wiki very often recently. But I did so a few days ago, so this should be up-to-date now.

I recommend that users of packages that are still hosted on the wiki, kindly ask the maintainers to move with the times and switch to git or hg.

[2016-02-20 16:06] #71 closed

[2016-02-29 14:42] #68 closed

[2016-02-29 14:42] #67 closed

[2016-02-29 14:42] #66 closed

[2016-02-29 14:42] #65 closed

[2017-08-21 23:07] Wilfred opened #1 "Consider mirroring smalltalk-mode from GNU Smalltalk"
Hi @tarsius

Would you be willing to add smalltalk-mode.el to the emacsmirror or the emacsorphanage?

GNU Smalltalk provides this Emacs mode. I've sent the patch to their mailing list: http://lists.gnu.org/archive/html/help-smalltalk/2017-08/msg00000.html but the project is very lightly maintained: https://github.com/gnu-smalltalk/smalltalk/commits/master (as far as I can tell).

I'd like to make

[2017-08-23 11:41] tarsius commented on #1
Yes, but it would be better if the elisp was maintained in its own repository. I try to only mirror the elisp part, so I sometimes use a subtree filter to import just the relevant directory. But in this case that would not work because the elisp is placed at the top-level, so I would have to use the "minority" method, which just downloads the current version of the file itself, which would lose al

[2017-08-26 19:06] Wilfred commented on #1
There's nothing specific to GNU smalltalk here: any smalltalk implementation will have the same syntax. For example, I've been using it to view files dumped from Pharo. It is most useful on GNU Smalltalk though, as most other Smalltalk implementations have an integrated IDE.

Yep, I've done this on my branch: https://github.com/Wilfred/gnu-smalltalk/tree/refactor_emacs_mode (though I see you've sp

[2017-09-05 16:20] tarsius commented on #1
I don't think that adding the package to the orphanage would be friendlier than maintaining a fork under your own account. Either way, I don't think it is "antisocial" to do it after you have made a reasonable effort to engage the official maintainers and have given them enough time to respond in case they are busy.

I am not ruling out adding this to the orphanage, but I think there are better op

[2017-09-05 18:57] Wilfred commented on #1
FWIW, it looks like my patch may yet land in GNU Smalltalk, which would be the ideal solution: http://lists.gnu.org/archive/html/help-smalltalk/2017-08/msg00004.html

[2017-09-05 19:24] tarsius commented on #1
It's a good solution. The ideal situation would be if someone maintained it who is an Emacs user and who is also exited about doing it (as opposed to just doing it because nobody else does). :wink:

If this does not pan out, then feel free to reopen this issue.

Cheers!

[2017-09-05 19:24] #1 closed, assigned to tarsius

[2017-09-11 07:26] DamienCassou opened #2 "Absence of password-store-otp"
password-store-otp has been available in melpa for 3 days now: https://melpa.org/#/password-store-otp and https://github.com/melpa/melpa/pull/4983. Is it normal that the package is still not part of the emacsmirror? I'm not in a hurry, I just wandered if there was a bug.

[2017-09-12 09:41] tarsius commented on #2
Yes, adding new packages is only semi-automated and I don't do it every day.

However the current situation is a bit more complicated. `password-store-otp` actually is available from the Emacsmirror, but the database in the `master` branch of `epkgs` does not contain an entry. Two months ago I made some far reaching changes including to the database schemata and since then I have only updated the

[2017-09-12 10:42] DamienCassou commented on #2
You are doing an awesome job on all your projects. Thank you very much. I hope you are successful on the campaign.

[2017-09-24 10:47] tarsius commented on #2
Done.

[2017-09-24 10:47] #2 closed, assigned to tarsius

[2017-12-15 13:44] tarsius opened #3 "@kensanata packages on the Emacswiki"
Hey @kensanata!

Thanks for moving those of your packages that are available from Melpa from the Emacswiki to Github. The Emacsmirror imports more packages from the Emacswiki than Melpa and there are still a few packages that you wrote that are only available from the Emacswiki. Could you please consider moving these to Github too and/or tell me which of these should be considered unmaintained and

[2017-12-15 14:04] kensanata commented on #3
Uuuugh, so many? So much abandoned code?

I’ll take a look. 😓

[2018-01-08 13:42] tarsius commented on #3
Friendly ping!

[2018-01-09 07:17] kensanata commented on #3
https://github.com/kensanata/emacs-bidi

[2018-01-09 07:48] kensanata commented on #3
https://github.com/kensanata/kdic also takes care for flashmaker

[2018-01-10 19:31] kensanata commented on #3
https://github.com/kensanata/idle-scroll

[2018-01-10 19:38] kensanata commented on #3
https://github.com/kensanata/loops

[2018-01-10 19:39] kensanata commented on #3
An unexpected gift: mu.el already exists! https://github.com/kensanata/mu

[2018-01-10 19:53] tarsius commented on #3
Thanks!

I will update the Emacsmirror in one go once you are all done (or tell me that you won't tackle the remaining packages anytime soon).

[2018-01-10 22:08] kensanata commented on #3
https://github.com/kensanata/wiki – uuuugh, major pain!

[2018-01-13 11:22] tarsius commented on #3
I have updated the Emacsmirror up to this point. Thanks!

I also found two more packages:

* `dom` aka `doom`

  Someone else took over as maintainer and put the page [here](https://github.com/toroidal-code/dom.el). Meanwhile another `dom` was added to Emacs. I tried to [get upstream to change the name](https://github.com/toroidal-code/dom.el/issues/2). When that failed I did that myself and [put

[2018-01-13 11:48] tarsius commented on #3
Should https://www.emacswiki.org/emacs/WikiRemote also be added to `wiki`?

[2018-01-16 09:55] DamienCassou opened #4 "Adding pinentry"
The pinentry.el package was builtin but has been removed in Emacs 26. This package is on Elpa: https://elpa.gnu.org/packages/pinentry.html. I see in https://emacsmirror.net/stats/compare.html#orge9bad0e that pinentry already is a special case. Can you please add pinentry to the Emacs mirror?

/cc @NicolasPetton

[2018-01-16 10:30] tarsius commented on #4
It's always interesting to run the "update built-in packages" code. Lets see how much bit rot has accumulated since the previous pre-release 😉

[2018-01-16 11:03] tarsius commented on #4
Pretty harmless this time around. Some sanity checks reported differences when they actually just failed to normalize the order of two values before comparison.

[2018-01-16 11:13] tarsius commented on #4
Mirroring https://github.com/ueno/pinentry-el now.

[2018-01-16 11:13] #4 closed, assigned to nobody

[2018-01-16 12:17] DamienCassou commented on #4
The version on @ueno's repository seems to be quite outdated compared to the [version removed from the emacs tree](https://git.savannah.gnu.org/cgit/emacs.git/tree/lisp/net/pinentry.el?h=b3f4a3a5ae). The [version in elpa](https://git.savannah.gnu.org/cgit/emacs/elpa.git/tree/packages/pinentry/pinentry.el) is also outdated. In the newest version (removed from Emacs), the first line of code is

[cod

[2018-01-16 12:34] tarsius commented on #4
It would probably be best to transplant the history from Emacs onto the upstream history (using `git filter-branch` and such).

[2018-01-16 12:57] NicolasPetton commented on #4
Jonas Bernoulli <notifications@github.com> writes:

We're applying git commits from emacs.git that touched pinentry.el, and
I'll do the same in elpa.git.

BTW, will the package from elpa.gnu.org be mirrored, or only the GitHub
repo?

[2018-01-16 13:00] DamienCassou commented on #4
I created a PR applying all patches from Emacs tree to upstream: https://github.com/ueno/pinentry-el/pull/3

[2018-01-16 13:07] tarsius commented on #4
I tend to mirror the upstream (here github) repository because the history in Elpa tends to be incomplete due to the use of `git subtree --squash`. But if upstream lags behind (and I notice it), then I usually switch to mirroring from Elpa.

[2018-01-16 15:23] NicolasPetton commented on #4
Jonas Bernoulli <notifications@github.com> writes:

This package in ELPA is just a directory, so its maintenance will
quickly become a burden if there is a separate GitHub repository.

[2018-01-25 18:43] jabranham opened #5 "AuCTeX git repopage"
`epkg-describe-package` current lists https://git.savannah.gnu.org/cgit/emacs/elpa.git/log/?h=externals/auctex as the repopage for AuCTeX, but that's the ELPA mirror of the development repository, which is actually at https://git.savannah.gnu.org/cgit/auctex.git

git clone https://git.savannah.gnu.org/git/auctex.git

Thanks!

[2018-01-25 22:33] tarsius commented on #5
For packages that have their own branch on Elpa I usually prefer that over the upstream repository because often development has stopped upstream while bugs are still being fixed in Elpa.

But in this case upstream is active, so I have switched to that. (And looking at some old notes I found an entry explaining why I "had done" that. 😉 )

[2018-01-25 22:33] #5 closed, assigned to tarsius

[2018-01-25 22:35] jabranham commented on #5
All that makes sense, thanks!

On Thu 25 Jan 2018 at 16:33, Jonas Bernoulli <notifications@github.com> wrote:

[2018-01-28 19:29] tarsius commented on #3
I am afraid I found some more: https://github.com/emacsjanitors/http-emacs.

[2018-01-28 20:47] kensanata commented on #3
Hm, I don't recognize that code. I fear that was other people building on wiki.el or something like that.

[2018-01-28 20:52] kensanata commented on #3
Also, in your original todo list, you can check *wiki remote*.
I just tried *textmenu* and it doesn't seem to work with my current Emacs. There's no point having it in the repo, right?

[2018-01-28 21:02] kensanata commented on #3
https://github.com/kensanata/unparen

[2018-01-28 21:08] tarsius commented on #3
Okay.

I've moved it to the attic.

[2018-01-28 21:10] kensanata commented on #3
https://github.com/kensanata/toolbox

[2018-02-11 22:45] tarsius commented on #3
I found another one https://github.com/emacsattic/eval-sexp-in-comments. That's actually something I would like to be able to do! In this case you will also have to cleanup the header and specify the license. Maybe it would be better to advice `eval-last-sexp` instead of providing a new command.

[2018-03-01 15:15] kensanata commented on #3
Unrelated to all of the above, I just adopted https://github.com/kensanata/rcirc-late-fix because I couldn't find it anywhere.

[2018-03-01 22:18] tarsius commented on #3
You might also want to add this to Melpa, but it will only be accepted if you make some effort to contact the previous maintainer and make some commitment to actually maintain the package.

[2018-03-01 22:40] kensanata commented on #3
Better not, then. No promises...

[2018-03-01 22:56] kensanata commented on #3
I forked https://github.com/kensanata/doom

[2018-03-01 23:20] kensanata commented on #3
https://github.com/kensanata/eval-sexp-in-comments

[2018-03-01 23:28] kensanata commented on #3
https://github.com/kensanata/1000-words

[2018-03-01 23:37] kensanata commented on #3
https://github.com/kensanata/really-simple-wiki

[2018-03-21 18:21] tarsius commented on #3
Do you intend to do this for the remaining three packages too?

[2018-03-21 19:20] kensanata commented on #3
https://github.com/kensanata/htmlr

[2018-03-21 19:25] kensanata commented on #3
https://github.com/kensanata/sql-transform

[2018-03-21 19:29] kensanata commented on #3
https://github.com/kensanata/erobot

Wohooo!

[2018-03-21 20:31] tarsius commented on #3
Thanks a lot!

[2018-03-21 20:31] #3 closed, assigned to nobody

[2019-05-29 12:47] kostafey opened #6 "Sync package after history rewrite"
I've made some bad commits to https://github.com/kostafey/ejc-sql package and then join them by `git rebase`. But emacsmirror version https://github.com/emacsmirror/ejc-sql already synced with previous repo state. So, looks like there are no more sync operations after that.
How it's possible to fix this problem?

[2019-05-29 20:01] tarsius commented on #6
Normally that results in a modified submodule. I don't check for those after every automated update but should do so about twice a month. For some reason the Github API did not report that this repository was modified so no pull was attempted.

I am now running a full update that ignores API data and just pulls every repository to see if there are other such packages.

[2019-05-30 07:33] tarsius commented on #6
A dozen other packages were also affected. I will have to figure out how exactly Github is being less helpful than it could be here. (Or maybe it is a bug in my code but I doubt it.)

Anyway I've updated your package now.

[2019-06-03 19:48] kevinboulain opened #7 "scad-mode out of sync?"
Hi there,

Based on https://emacsmirror.net/#adding-new-packages every package from Melpa should be synced to their respective repository.

From what I can see, Melpa's scad-mode has been updated in April (Melpa says `20190413.1246`, confirmed by looking at the latest commit in [openscad/openscad/contrib](https://github.com/openscad/openscad/tree/master/contrib)) but [emacsmirror/scad-mode](https:

[2019-06-04 09:18] tarsius commented on #7
I think what happened is that public history was rewritten. Normally I would notice that eventually, but it appears that filtered packages get stuck without any sign that something is wrong.

Thanks for letting me know!

[2019-06-04 09:18] #7 closed, assigned to nobody

[2019-06-21 08:02] anquegi opened #8 "Add the later-do package"
I thingk that later-do.el package should be available in emacsmirror, [https://www.emacswiki.org/emacs/later-do.el](https://www.emacswiki.org/emacs/later-do.el), is on the emacs wiki, but I could-t find on emacsmirror.

It is also cited in [wiki](https://www.emacswiki.org/emacs/ConcurrentEmacs), and I do not find anywhere, there seems that ale later version in [github_1](https://github.com/jasonch

[2019-06-21 08:33] tarsius commented on #8
I am trying to have no feature conflicts in any mirrored packages. Considering how may packages there are we are doing pretty good: https://www.emacsmirror.net/stats/issues.html.

`do-later` and `emms` both have the same author. The former is a tiny, not particularly noteworthy helper library while the latter is a significant package. So we have to mirror the latter and cannot mirror the former in

[2020-12-24 00:38] #8 closed, assigned to nobody

[2020-12-24 00:38] #6 closed, assigned to nobody

[2022-01-17 20:34] kljohann opened #10 "Update mirrors for emacs.git packages"
Some packages are developed inside the Emacs repo but also made available via GNU ELPA. It's very convenient that there are @emacsmirror repos, for example for use via [borg](https://github.com/emacscollective/borg). Thanks for working on both, @tarsius! As far as I understand, syncing of these repos is triggered manually, though? For example,
- eldoc is 1.8.0 < 1.11.0,
- flymake is 1.0.9 < 1.2.1,

[2022-01-20 12:03] tarsius commented on #10
Yes; and it is code that has never run before, so... I'll do it when I have less things on my plate.

[2022-01-22 19:11] kljohann commented on #10
Thanks, sounds great. If I can help in some way, please let me know.

[2022-07-31 16:59] Eason0210 opened #11 "cmake-mode need to update"
Recently, cmake-mode upstream have 2 commits ahead of [emacsmirror/cmake-mode](https://github.com/emacsmirror/cmake-mode)

1. cmake-mode on melpa:  https://melpa.org/#/cmake-mode
2. cmake-mode.el on cmake project: https://gitlab.kitware.com/cmake/cmake/-/blob/master/Auxiliary/cmake-mode.el

[2022-09-14 07:47] tarsius commented on #11
It's one of the packages that no longer get updated automatically because doing so takes too long. Or rather, just checking whether there are any updates takes too long, even when there are no new commits. `git filter-repo` does not live up to its marketing. Last night initiated an update before going to bed.

So I am afraid you'll have to ping me again when there is another update.

If you are in

[2022-09-14 07:47] #11 closed, assigned to nobody

[2022-11-12 14:04] tarsius commented on #10
I regret to inform you that I have given up on extracting the history of core packages.

`git filter-repo`, the tool that this functionality was built on, just isn't efficient and reliable enough to continuously extract history from the emacs repository. I had hopes that this would improve enough to remove this limiation, but that hasn't happened yet. Here are some outstanding issues: https://gith

[2022-11-12 14:04] #10 closed, assigned to nobody

[2022-11-13 19:05] AkibAzmain opened #12 "Please consider moving to an ethical repository hosting"
**MS employees, please stay away.**

---

Copilot is indexing the repository on GitHub to help build proprietary software.  I don't support this in any way, and I don't want to feed my hard work to Copilot.

Please consider moving to some repository hosting like SourceHut, any of the public Gitea instances (Codeberg is the most popular).  Even GitLab is better than GitHub (only right now).  Moving

[2022-11-23 20:21] kljohann commented on #10
Thanks for giving it a try and letting me know of the alternatives!